In [3]:
import sys
import numpy as np
import pandas as pd
sys.path.insert(1, 'E:/Oleg_jobbet/FTXdeklaration/ftx_pandas')
from util.date_helper import DateHelper as dh
from get_price_ccxt import GetPriceCcxt

In [4]:
date = '2022-11'

stamps = dh.get_month_range_date(date)

start_time = stamps['start_time_string']
end_time = stamps['end_time_string']

In [6]:
df = pd.read_csv('E:/Oleg_jobbet/ByBit/Bybit-Derivatives-ClosedPNL-20221031-20221215.csv')

In [7]:
df.head()

,Contracts,Closing Direction,Qty,Entry Price,Exit Price,Closed P&L,Exit Type,Trade Time(UTC+0),Order No.,Create Time
0,DOGEUSDT,Close Short,25000,0.09926,0.08753,294.070149,Trade,2022-12-12 05:07:08,d5ee9f42,2022-12-12 05:07:08
1,LTCUSDT,Close Long,500,76.43000,75.69000,-385.990704,Trade,2022-12-08 07:39:30,33fae382,2022-12-08 05:01:12
2,DOGEUSDT,Close Short,150000,0.10059,0.09547,748.697612,Trade,2022-12-07 07:18:35,42ad9536,2022-12-07 07:18:35
3,LTCUSDT,Close Long,1000,76.43000,78.67000,2148.719750,Trade,2022-12-09 01:29:27,c2e1256f,2022-12-07 07:18:24
4,LTCUSDT,Close Short,250,79.11000,79.24000,-44.075511,Trade,2022-12-06 09:57:02,9c58b395,2022-12-06 09:56:50

In [14]:
df = df.loc[(df['Create Time'] >= start_time) & \
            (df['Create Time'] <= end_time)].copy()
print('Start date', df['Create Time'].min())
print('End date', df['Create Time'].max())

Start date 2022-11-19 14:47:18
End date 2022-11-30 10:13:48

In [11]:
df_g = df.groupby(['Contracts', 'Closing Direction'])[['Qty', 'Closed P&L']].sum()
df_g

                                 Qty    Closed P&L
Contracts Closing Direction
CHZUSDT   Close Long          125000    404.881189
          Close Short         995000  17099.737855
DOGEUSDT  Close Long          200000    321.653800
          Close Short        3025000  20793.041441
LTCUSDT   Close Short           3000  12222.183854

In [12]:
df_g['Closed P&L'].sum()

50841.49813860001